@import url(https://fonts.googleapis.com/earlyaccess/owtexyen.css);

body {
    background-color: rgb(244, 244, 241);
}

.title {
    font-size: 2.5rem;
    text-align: center;
    position: top;

}
.nav {
    width: 150px;
    height: 50px;
    display: flex;
    padding-right: 250px;
    padding-left: 400px;
    position: relative;
    top: -25px;
}

.container {
    display: flex;
}

.left {
    width: 100px;
    height: 50px;
    padding-left: 100px;
    padding-top: 40px;

}

.right {
    width: 600px;
    height: 600px;
    padding-left: 460px;
    padding-top: 80px;
}

.project1 {
    width: 280px;
    height: 300px;
    padding-bottom: 50px;
    position: relative;
    top: -220px;
    left: 680px;

}

.project2 {
    width: 280px;
    height: 300px;
    padding-bottom: -10px;
    position: relative;
    top: -570px;
    left: 990px;

}

.學歷 {
    width: 400px;
    height: 100px;
    position: relative;
    top: -700px;
    left: 100px
}

.經歷 {
    width: 600px;
    height: 100px;
    position: relative;
    top: -500px;
    left: 100px;
    bottom: -200px;
}

.軟體能力 {
    width: 230px;
    height: 100px;
    position: relative;
    top: -900px;
    left: 800px
}

.軟體程式 {
    width: 100px;
    height: 100px;
    position: relative;
    top: -910px;
    left: 800px
}

.語言能力 {
    width: 470px;
    height: 100px;
    position: relative;
    top: -800px;
    left: 800px;
    bottom: -200px;

}

.聯絡資訊 {
    width: 50px;
    height: -10px;
    padding-left: 150px;
    position: relative;
    top: -100px;
    bottom: 100px;
}

.主持照片 {
    width: 470px;
    height: 1px;
    position: relative;
    top: -650px;
    left: 800px;
    bottom: -100px;
}

.slogan1 {
    width: 500px;
    position: relative;
    top: 20px;
    left: 480px;

}

.photo1 {
    padding-top: 50px;
}

.作品1介紹yt {
    position: relative;
    top: 150px;
    left: 50px;
    display: flex;
}

.作品1介紹文字 {
    width: 700px;
    position: relative;
    top: -170px;
    left: 700px;
}

.作品1能力展示 {
    width: 1000px;
    position: relative;
    top: -170px;
    left: 230px;
}

.聯絡資訊1 {
    width: 50px;
    padding-left: 150px;
    position: relative;
    top: 1px;
}

.slogan2 {
    width: 500px;
    position: relative;
    top: 15px;
    left: 480px;

}

.DJphoto {
    width: 40px;
    position: relative;
    top: 40px;
    left: 180px;
}

.DJinfo {
    width: 600px;
    position: relative;
    top: -350px;
    left: 700px;
}

.podcast {
    width: 100px;
    height: 20px;
    position: relative;
    top: -200px;
    left: 100px;
}

.podcastinfo {
    width: 350px;
    height: 50px;
    position: relative;
    top: -215px;
    left: 400px;
}

.能力展示2 {
    width: 400px;
    position: relative;
    top: -160px;
    left: 920px;
}

.RWD1 {
    display: none;
}

.RWD2 {
    display: none;
}
.RWD3{
    display: none;

}
@media screen and (max-width:768px) and (min-width:400px) {
    .title {
        display: none;
    }

    .nav {
        display: none;
    }

    .slogan1 {
        display: none;
    }

    .slogan2 {
        display: none;
    }

    .DJphoto {
        display: none;
    }

    .DJinfo {
        display: none;
    }

    .podcast {
        display: none;
    }

    .podcastinfo {
        display: none;
    }

    .能力展示2 {
        display: none;
    }

    .聯絡資訊1 {
        display: none;
    }

    .RWD1 {
        width: 500px;
        display: flex;
    }

}

@media screen and (max-width:768px) and (min-width:400px) {

    .nav {
        display: none;
    }

    .container {
        display: none;
    }

    .project1 {
        display: none;
    }

    .project2 {
        display: none;
    }

    .學歷 {
        display: none;
    }

    .經歷 {
        display: none;
    }

    .軟體能力 {
        display: none;
    }

    .軟體程式 {
        display: none;
    }

    .語言能力 {
        display: none;
    }

    .主持照片 {
        display: none;
    }

    .聯絡資訊 {
        display: none;
    }
    .RWD2 {
        width: 80%;
        height: auto;
        display: flex;
    }
}

    @media screen and (max-width:768px) and (min-width:400px) {

    .slogan1 {
        display: none;
    }

    .photo1 {
        display: none;
    }

    .作品1介紹yt {
        display: none;
    }

    .作品1介紹文字 {
        display: none;
    }

    .作品1能力展示 {
        display: none;
    }

    .聯絡資訊1 {
        display: none;
    }

    .RWD3 {
        width: 80%;
        height: auto;
        display: flex;
    }
}
